{% extends "header.html" %}
{% block content %}
    <script>
        $(function () {
            window.setTab("configure", "configure-wan");
            $("#save-button").click(function () {
                $("form:first").submit();
            });

            $("#mode").val("{{ autowan.mode }}");
            $("#mode").change(function () {
                window.toggle_properties();
            });

            window.toggle_properties = function () {
                var value = $("#mode").val();
                if (value == "-1") {
                    $("#device_div").hide();
                    $("#tor_div").hide();
                    $("#interface_div").hide();
                } else if (value == 0) {
                    $("#device_div").hide();
                    $("#tor_div").hide();
                    $("#interface_div").show();
                } else if (value == "3") {
                    $("#device_div").hide();
                    $("#tor_div").show();
                    $("#interface_div").hide();

                } else {
                    $("#device_div").show();
                    $("#tor_div").hide();
                    $("#interface_div").hide();
                }
            };

            window.toggle_properties();
        });
    </script>

    <style>
        .bubble {
            background-color: whitesmoke;
            border-radius: 3px;
            padding: 5px;
            margin-right: 50px;
            margin-left: 120px;
            margin-bottom: 3px;
        }
    </style>
    <div id="banner">
        <div id="banner-breadcrumb">
            <ul>
                <li><a href="#" class="last">Wan Configuration</a></li>
            </ul>
        </div>
        <div id="banner-description">
            Configure your wan ports
        </div>
    </div>

    <div id="acls">

        <div class="aheading">
            <span>Automatic Wan Masquerading and Gateway Routing</span>
        </div>

        <script>
            $(function () {
                $("#add_device").click(function () {
                    $.ajax({
                        type: "POST",
                        url: "/device/firewall/masquerading/add",
                        data: {"interface": $("#devices").val()},
                        async: false
                    });

                    window.location = "/device/firewall/masquerading";
                });
            });
        </script>

        <form id="form" method=POST>

            <div class="abody">
                <div class='aformgroup'><span class='aformlabel'>Mode:</span>

                    <div class='aformcontent'>
                        <select name="mode" id="mode">
                            <option value="-1">Disabled</option>
                            <option value="0">Single Wan Interface</option>
                            <option value="1">MultiPath Load Balancing</option>
                            <option value="2">Wan Failover</option>
                            <option value="3">Tor Gateway</option>
                        </select>
                    </div>
                </div>

                <div id="tor_div" class="aformgroup">
                    <span class='aformlabel'>&nbsp;</span>

                    <div class='aformcontent'>
                        Manage the tor daemon <a href="/device/network/tor">here</a>
                    </div>
                </div>
                <div id="interface_div" class="aformgroup">
                    <div class='aformgroup'>
                        <span class='aformlabel'>Interface</span>

                        <div class='aformcontent'>
                            <select id="interface" name="interface">
                                {% for device in devices %}
                                    <option value="{{ device.interface }}" {% if device.interface == autowan.interface %} SELECTED {% endif %}>{{ device.interface }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div id="device_div" class='aformgroup'><span class='aformlabel'>Devices:</span>

                    <div class='aformcontent' id="active_devices">
                        <table style="margin-top: 10px; width: auto;" id="users" class="list border">
                            <thead>
                            <th>Interface</th>
                            <th>Index</th>
                            <th>Operations</th>
                            </thead>
                            <tbody>
                            {% if autowan.device_configuration %}
                                {% for device in autowan.device_configuration %}
                                    <tr>
                                        <td>
                                            {{ device.interface }}
                                        </td>
                                        <td>
                                            {{ device.failover_index }}
                                        </td>
                                        <td>
                                            <a href="/device/firewall/masquerading/del/{{ device.interface }}">Delete</a> |
                                            <a href="/device/firewall/masquerading/edit/{{ device.interface }}">Manage</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                            </tbody>
                            <tfoot>
                            <td>
                                <select id="devices" name="devices">
                                    {% for device in devices %}
                                        <option value="{{ device.interface }}">{{ device.interface }}</option>
                                    {% endfor %}
                                </select>
                            </td>
                            <td></td>
                            <td><a href="#" id="add_device">Add</a></td>
                            </tfoot>
                        </table>
                    </div>
                    <br>
                </div>
            </div>
            <div class='aformgroup'>
                <span class='aformlabel'></span>

                <div class='aformcontent'>
                    <input type="submit" value="Save Configuration">
                </div>
            </div>
        </form>
    </div>
{% endblock %}