{% extends "header.html" %}
{% block content %}

    <script>
        $(function () {
            window.setTab("status", "status-events");
        })
    </script>
    <div id="banner">
        <div id="banner-breadcrumb">
            <ul>
                <li><a href="#" class="last">Events and Alerts</a></li>
            </ul>
        </div>
        <div id="banner-description">
            View and manage events
        </div>
    </div>

    <div class="aheading">
        <span>Events since last purge</span>
    </div>


    <div class="abody">
        <div class="magical-table" id="websitestable">
            <table class="list border filtered export paging newdatatable" id="websites">
                <thead class=general-title>
                <th><b>Date/Time</b></th>
                <th><b>Event Type</b></th>
                <th><b>Details</b></th>
                </thead>
                <tbody id="websitebody">
                <script id="tabletemplate" type="text/x-jquery-tmpl">
                        <tr>
                        <td>${time}</td>
                        <td class="right-align">${key}</td>
                        <td class="right-align">${message_formatted}</td>
                        </tr>
                </script>
                </tbody>
                <tfoot>
                </tfoot>
            </table>
        </div>
    </div>
    <script>
        $.getJSON("/device/analytics/events?", function(data){
            $("#tabletemplate").tmpl(data.result).appendTo("#websitebody");
            window.setupDatatables();
        });
    </script>
{% endblock %}