{% extends "header.html" %}
{% block content %}
    <script>
        $(function () {
            window.setTab("tools", "tools-dig");
        })
    </script>

    <div id="banner">
        <div id="banner-breadcrumb">
            <ul>
                <li><a href="#">Tools</a></li>
            </ul>
        </div>
        <div id="banner-description">
            Perform a DNS lookup
        </div>
        <div id="banner-menu" class="optionsmenu">
            <a class="operations" href="#">Actions</a>

            <div id="dropdownmenu" class="dropdown">
            </div>
        </div>
    </div>

    <br>
    <div class="aheading">
        <span>Network Tool</span>
    </div>
    <div class="abody">
        <div class="aformgroup">
            <span class="aformlabel">
                Hostname
            </span>

            <div class="aformcontent">
                <input id="hostname" name="hostname" type="text" class="validate" size=30>
            </div>
        </div>
        <div class="aformgroup">
            <span class="aformlabel">
            </span>

            <div class="aformcontent">
                <input id="dns_submit" type="submit" value="DNS Lookup"/>
                <input id="clear" type="submit" value="Clear Results"/>
            </div>
        </div>
    </div>
    <div id="resultsdiv">
        <div class="aheading">
            <span>Result</span>
        </div>
        <style>
            .success {
                color: green !important;
            }

            .failed {
                color: red !important;
            }
        </style>

        <div class="abody">
            <div id="result">
            </div>
        </div>
    </div>
    <script>
        var result_set = [];
        function dns_lookup() {
            $("#summarypills").hide();

            $.getJSON("/device/tools/ajax/dig/" + $("#hostname").val(), function (result) {
                $("#result").html(result.result);
            });
        }

        $(function () {
            $("#resultsdiv").hide();

            var timer = undefined;
            $("#dns_submit").click(function () {
                $("#resultsdiv").show();
                dns_lookup();
            });

            $("#clear").click(function () {
                $("#resultsdiv").hide();
                $("#result").html("");
                result_set = [];

                clearInterval(timer);
                timer = undefined;
            });


        });
    </script>
{% endblock %}