{% extends "header.html" %}
{% block content %}

    <script>
        $(function () {
            window.setTab("configure", "configure-devices");

        })
    </script>

    <div id="banner">
        <div id="banner-breadcrumb">
            <ul>
                <li><a href="" class="last">Dhcp Leases for {{ device.interface }}</a></li>
            </ul>
        </div>
        <div id="banner-description">
            Configure dhcp leases and options
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $("#form1").validate({
                errorPlacement: function (error, element) {
                    error.appendTo(element.parent("div"));
                },

                rules: {
                    ip: {ipv4: true, required: true},
                    mac: {macAddress: true, required: true}
                },

                messages: {
                },

                submitHandler: function () {
                    form1.submit();
                }
            });

            window.setupDatatables();
        });
    </script>

    <div id="details">
        <div class="aheading">
            <span>Permanent and Active Leases</span>
        </div>
        <br>

        <div class="abody">
            <form id="form1" method="POST">
                <table id="users" class="list border filtered export paging newdatatable">
                    <thead>
                    <th>Mac Address</th>
                    <th>Ip Address</th>
                    <th>Time</th>
                    <th>State</th>
                    <th>Operations</th>
                    </thead>
                    <tbody>
                    {% for lease in device.dhcpServerLeases %}
                        <tr>
                            <td>
                                {{ lease.mac }}
                            </td>
                            <td>
                                {{ lease.ip }}
                            </td>
                            <td class="timedecorator">
                                {{ lease.lease_time }}
                            </td>
                            <td>
                                {% if lease.state == 1 %}
                                    Offered
                                {% endif %}
                                {% if lease.state == 2 %}
                                    Active
                                {% endif %}
                                {% if lease.state == 3 %}
                                    Permanent
                                {% endif %}
                            </td>
                            <td>
                                <a href="/device/network/devices/{{ device.interface }}/leases/delete/{{ lease.ip }}/{{ lease.mac }}">Remove Lease</a>
                                {% if lease.state == 1 or lease.state == 2 %}
                                    |
                                    <a href="/device/network/devices/{{ device.interface }}/leases/add/{{ lease.mac }}/{{ lease.ip }}">Make Permanent</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>

                    <tfoot>
                    <td><input name="mac" type="text"></td>
                    <td><input name="ip" type="text"></td>
                    <td></td>
                    <td></td>
                    <td><input type="submit" value="Create Lease"></td>
                    </tfoot>
                </table>
            </form>
        </div>
    </div>
{% endblock %}