{% extends "header.html" %}
{% block content %}
    <script>
        $(function () {
            window.setTab("configure", "configure-devices");
        })
    </script>

    <div id="banner">
        <div id="banner-breadcrumb">
            <ul>
                <li><a href="/device/network/devices">Network Configuration</a></li>
            </ul>
        </div>
        <div id="banner-description">
            Configure individual network devices
        </div>
    </div>

    <div class="aheading">
        <span>Visible Network Devices</span>
        <a href="/device/network/devices/create" class="bump-right" id="add-device">Create new Virtual Device</a>
    </div>
    <br>

    <div class="abody">
        <table id="users" class="list border">
            <thead>
            <th></th>
            <th>Name</th>
            <th>Saved</th>
            <th>Type</th>
            <th>Ip</th>
            <th>Hw</th>
            <th>State</th>
            <th>Operations</th>
            </thead>
            <tbody>
            {% for device in devices %}
                <tr>
                    <td>
                        <a><i class="icon-search tooltipster" id="device_info_{{ device.interface}}"></i></a>
                    </td>
                    <td>
                        <a href="/device/network/devices/{{ device.interface }}">{{ device.name }} {{ device.interface }}</a>
                    </td>
                    <td>
                        <input type="checkbox" id="persisted_{{ device.interface }}" name="persisted_{{ device.interface }}" class="persisted_checkbox" data-interface="{{ device.interface }}" {% if device.persisted %}
                               CHECKED {% endif %}/>
                    </td>
                    <td>
                        {% if device.bridge %}
                            BRIDGE
                        {% endif %}
                        {% if device.vlan %}
                            VLAN
                        {% endif %}
                        {% if device.lacp %}
                            LACP
                        {% endif %}
                        {% if not device.bridge and not device.vlan and not device.lacp %}
                            PHYSICAL
                        {% endif %}
                    </td>
                    <td>
                        {% for ip in device.ipv4 %}
                            {{ ip.ip }}/{{ ip.mask }} {{ ip.bcast }}
                            <br>
                        {% endfor %}
                    </td>
                    <td>
                        {{ device.mac }}
                    </td>
                    <td>
                        {% if device.state %}
                            <span class="up">UP</span>
                        {% endif %}
                        {% if not device.state %}
                            <span class="down">DOWN</span>
                        {% endif %}
                    </td>
                    <td class="nowrap">
                        {% if device.state %}
                            <a href="/device/network/devices/{{ device.interface }}/down" class="down-link"><i class="icon-arrow-down"></i></a>
                        {% endif %}
                        {% if not device.state %}
                            <a href="/device/network/devices/{{ device.interface }}/up" class="up-link"><i class="icon-arrow-up"></i></a>
                        {% endif %}
                        <a href="/device/network/devices/{{ device.interface }}/delete" class="delete-link"><i class="icon-remove"></i></a>
                    </td>
                </tr>
                    <script>
                        var markup = "<div><b>Statistics and Information</b></div><hr>";
                        markup += "<div>Tx. Packets: " + {{ device.stats__tx_packets  }}+" </div>";
                        markup += "<div>Tx. Bytes: " + {{ device.stats__tx_bytes  }}+" </div>";
                        markup += "<div>Tx. Errors: " + {{ device.stats__tx_errors  }}+" </div>";
                        markup += "<div>Tx. Dropped: " + {{ device.stats__tx_dropped  }}+" </div>";

                        markup += "<hr>";
                        markup += "<div>Rx. Packets: " + {{ device.stats__rx_packets  }}+" </div>";
                        markup += "<div>Rx. Bytes: " + {{ device.stats__rx_bytes  }}+" </div>";
                        markup += "<div>Rx. Errors: " + {{ device.stats__rx_errors  }}+" </div>";
                        markup += "<div>Rx. Dropped: " + {{ device.stats__rx_dropped  }}+" </div>";

                        $("#device_info_{{ device.interface}}").tooltipster({theme: "tooltipster-shadow"});
                        $("#device_info_{{ device.interface}}").tooltipster('content', $(markup));
                    </script>

            {% endfor %}
            </tbody>
        </table>
        <script>
            $('.persisted_checkbox').click(function() {
                var interf = $(this).attr('data-interface');
                $(this).after('<img src="{{ url_for('static', filename='images/ajax-loader.gif') }}" id="loading_'+interf+'" style="display: inline; margin-left:5px"/>');
                $.post('/device/network/devices/'+interf+'/set_save', {'persisted': $(this).is(':checked')}, function(data) {
                    $('#loading_'+interf).remove();
                })
            });
        </script>
    </div>
    <br>
    <div class="aheading">
        <span>Static Routing Table</span>
    </div>
    <br>

    <div class="abody">
        <script>
            $(document).ready(function () {
                $("#form").validate({
                    errorPlacement: function (error, element) {
                        error.appendTo(element.parent("td"));
                    },

                    rules: {
                        dest: {required: true, cidr: true},
                        gw: {required: true, ipv4: true},
                        device: {required: true},
                    },

                    messages: {},

                    submitHandler: function () {
                        form.submit();
                    },
                });
            });
        </script>
        <form id="form" method="POST" action="/device/network/devices/routes">
            <table id="routetable" class="list border">
                <thead>
                <th>Destination</th>
                <th>Next Hop</th>
                <th>Device</th>
                <th>Operations</th>
                </thead>
                <tbody>
                {% for route in routes %}
                    <tr>
                        <td>
                            {% if route.destination %}
                                {{ route.destination }}/{{ route.destination_cidr }}
                            {% endif %}
                        </td>
                        <td>{{ route.route_nexthop }}</td>
                        <td>{{ route.route_device }}</td>
                        <td><a href="/device/network/devices/routes/del/{{ route.id }}" class="delete-link"><i class="icon-remove"></i></a></td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <td><input placeholder="Destination" class='validate' id='destination' name=destination>/<input size="2" placeholder="Cidr" class='validate' id='destination_cidr' name=destination_cidr></td>
                <td><input placeholder="Gateway" class='validate' id='route_nexthop' name=route_nexthop></td>
                <td>
                    <select name="route_device">
                        {% for device in devices %}
                            <option value="{{ device.interface }}">{{ device.interface }}</option>
                        {% endfor %}
                    </select>
                <td><input type=submit value='Add Route'></td>
                </tfoot>
            </table>
        </form>
    </div>
    <br>
    <div class="aheading">
        <span>Device DNS Configuration</span>
    </div>
    <div class="abody">
        <form id=form method="POST" action="/device/network/dns">
            <div class="aformgroup">
            <span class="aformlabel">
                Domain Name
            </span>

                <div class="aformcontent">
                    <input name="domain" class="validate" value="{{ dns_config.domain }}" size=15>
                </div>
            </div>
            <div class="aformgroup">
            <span class="aformlabel">
                Search Domain
            </span>

                <div class="aformcontent">
                    <input name="search" class="validate" value="{{ dns_config.search }}" size=15>
                </div>
            </div>
            <div class="aformgroup">
            <span class="aformlabel">
                Primary Server
            </span>

                <div class="aformcontent">
                    <input name="ns1" class="validate" value="{{ dns_config.ns1 }}" size=15>
                </div>
            </div>
            <div class="aformgroup">
            <span class="aformlabel">
                Secondary Server
            </span>

                <div class="aformcontent">
                    <input name="ns2" class="validate" value="{{ dns_config.ns2 }}" size=15>
                </div>
            </div>
            <div class="aformgroup">
            <span class="aformlabel">
            </span>

                <div class="aformcontent">
                    <input type="submit" value="Save Configuration"/>
                </div>
            </div>
        </form>
    </div>

{% endblock %}