{% extends "header.html" %}
{% block content %}
    <script>
        $(function () {
            window.setTab("configure", "configure-cloud");

            $("#save-button").click(function () {
                $("form:first").submit();
            });
        })
    </script>

    <div id="banner">
        <div id="banner-breadcrumb">
            <ul>
                <li>Manage Linewize Cloud Connection</li>
            </ul>
        </div>
        <div id="banner-description">
            Manage and configure the cloud connection
        </div>
    </div>

    <form id="form" method=POST>
        <div class="aheading">
            <span>Connection Details</span>
        </div>
        <div class="abody">
            <div class="aformgroup">
                <span class="aformlabel">Active:</span>

                <div class="aformcontent">
                    <span>{{ cloud_connected }}</span>
                </div>
            </div>
            <div class="aformgroup">
                <span class="aformlabel">Device Identifier:</span>

                <div class="aformcontent">
                    <input class="validate" name="device_id" value="{{ device_id }}">
                </div>
            </div>
            <div class="aformgroup">
                <span class="aformlabel">Device Key:</span>

                <div class="aformcontent">
                    <input class="validate" name="device_key" value="{{ device_key }}">
                </div>
            </div>

        </div>
        <br>
    </form>
    <div class="save-bar">
        <a id="save-button" class="bbtn bbtn-save" href="#">Save Changes</a>
        <a id="cancel-button" class="bbtn bbtn-cancel" href="#">Reset Changes</a>
    </div>

{% endblock %}