{% extends "header.html" %}
{% block content %}
    <script>
        $(function () {
            window.setTab("configure", "configure-groups");

            $("#save-button").click(function () {
                $("form:first").submit();
            });
        })
    </script>

    <div id="banner">
        <div id="banner-breadcrumb">
            <ul>
                <li><a href="#" class="last">Manage Group: {{ group.name | safe }}</a></li>
            </ul>
        </div>
        <div id="banner-description">
            Manage groups and roles
        </div>
        <div class="rightbuttons">
            <a class="bbtn bbtn-save" href="/device/configuration/groups/delete/{{ group.id | safe }}">Delete Group</a>
        </div>
    </div>

    <script>
        $(function () {
            $("#form").validate({
                errorPlacement: function (error, element) {
                    error.appendTo(element.parent("div"));
                },

                wrapper: "li",
                submitHandler: function () {
                    form.submit();
                },
            });

            function set_quotainputs(element) {
                var forLimit = $(element).attr("for");
                if ($(element).is(":checked")) {
                    $("#" + forLimit).prop('disabled', false);
                } else {
                    $("#" + forLimit).prop('disabled', true);
                    $("#" + forLimit).val("");
                }
            }

            $(".quotaCheckbox").each(function () {
                set_quotainputs(this);
            });

            $(".quotaCheckbox").change(function () {
                set_quotainputs(this);
            });
        });
    </script>

    <form id="form" method=POST>
        <div class="aheading">
            <span>Group Details</span>
        </div>
        <div class="abody">
            <div class="aformgroup">
                <span class="aformlabel">Manager:</span>

                <div class="aformcontent">
                    <input class="validate email" name=manager value="{{ group.manager }}">
                </div>
            </div>

            <div class="aformgroup">
                <span class="aformlabel">Is Admin:</span>

                <div class="aformcontent">
                    <input type=checkbox name=mui {% if group.allowMui %} CHECKED {% endif %}>
                </div>
            </div>
            <div class="aformgroup">
                <span class="aformlabel">Description/Notes:</span>

                <div class="aformcontent">
                    <textarea style="width:300px;height:100px;" name=desc value="{{ group.desc }}">{{ group.desc }}</textarea>
                </div>
            </div>
            <div class="aformgroup">
                <span class="aformlabel">Members:</span>

                <div class="aformcontent" style="padding-top: 5px">
                    {{ ", ".join(group.members) }}
                </div>
            </div>
        </div>
    </form>
    <div class="save-bar">
        <a id="save-button" class="bbtn bbtn-save" href="#">Save Changes</a>
        <a id="cancel-button" class="bbtn bbtn-cancel" href="#">Reset Changes</a>
    </div>

{% endblock %}