{% extends "header.html" %}
{% block content %}
    <script>
        $(function () {
            window.setTab("configure", "configure-firewall");
        })
    </script>

    <div id="banner">
        <div id="banner-breadcrumb">
            <ul>
                <li><a href="#" class="last">Firewall Filtering</a></li>
            </ul>
        </div>
        <div id="banner-description">
            Manage default behaviour of the firewall
        </div>

        <div class="rightbuttons">

        </div>
    </div>

    <div id="acls">

        <div class="aheading">
            <span>General Configuration</span>
        </div>
        <form method="POST">
        <div class="abody">
            <div class="aformgroup">
                <span class="aformlabel">
                    Allow outbound local traffic

                    <div class="optionhelpbox"><small>This allows your Edgewize device to perform updates, and check in with the cloud management services.</small></div>
                </span>

                <div class="aformcontent">
                    <input type="checkbox" id="allow_local" name="allow_local" {% if allow_local %} CHECKED {% endif %}/>
                </div>
            </div>
                    <div class="aformgroup">
                <span class="aformlabel">
                    Drop traffic by default
                </span>

                <div class="aformcontent">
                    <input type="checkbox" id="default_deny" name="default_deny" {% if default_deny %} CHECKED {% endif %}/>
                </div>
            </div>

            <div class="aformgroup">
                <span class="aformlabel">
                </span>

                <div class="aformcontent">
                    <input type="submit" value="Save Configuration">
                </div>
            </div>
        </div>
        </form>
    </div>
{% endblock %}
