{% extends "header.html" %}
{% block content %}
    <script>
        $(function () {
            window.setTab("status", "status-update");

            $("#save-button").click(function () {
                $("form:first").submit();
            });
        })
    </script>

    <div id="banner">
        <div id="banner-breadcrumb">
            <ul>
                <li>Update SphireOS</li>
            </ul>
        </div>
        <div id="banner-description">
            Here you can trigger updates for SphireOS
        </div>
    </div>

    <form id="form" method=POST>
        <div class="aheading">
            <span>Details</span>
        </div>
        <div class="abody">
            <div class="aformgroup">
                <span class="aformlabel">Active Version:</span>

                <div class="aformcontent">
                    <span>{{ version }}</span>
                </div>
            </div>
            <div class="aformgroup">
                <span class="aformlabel">Status:</span>

                <div class="aformcontent">
                    <span>
                        {% if status.status == 0 %}
                            Not Started - <a href="/device/status/update/start">Start Update</a>
                        {% elif status.status == 1 %}
                            Updating Now
                        {% else %}
                            <div>Finished Updating </div>
                            <div>
                            <a href="/device/status/restart">Restart into new Partition</a> |
                            <a href="/device/status/update/start">Try Again</a>
                            </div>
                            {% endif %}
                    </span>
                </div>
            </div>
            <div class="aformgroup">
                <span class="aformlabel">Output:</span>

                <div class="aformcontent">
                    {{ status.formatted_log | safe }}
                </div>
            </div>
        </div>
        <br>
    </form>
{% endblock %}