<html>
<html>
<head>
    <title>{{ g.productname }}</title>

    {% include "inclusions.html" %}
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
</head>
<body>

<style>
</style>
<div id="header">
    <div class="header-inner">
        <a id="applications-menu-link"><img class="logo" src="/static/images/LW_Icon.png"/>
            <span class="header-branding">Linewize Local Interface</span>
        </a>
    </div>
    <span class="logout">
        <a href="/logout">Logout</a>
    </span>
</div>

<style>
    .deviceinformation {
        width: 210px;
        border-right: solid 1px #e5e5e5;
    }

    #subheader {
        border-bottom: solid 1px #e5e5e5;
    }

</style>

<div id="navigation">
    <style>
        .navcontent {
            display: none;
        }

        .navtitle:last-of-type {
            border-bottom: solid 1px #e5e5e5;
        }
    </style>

    <script>
        $(function () {
            window.setTab = function (id, selected_item) {
                // Toggle the current tab off
                $(".navcontent").hide();
                $(".navcontent").removeClass("nav-selected");
                $(".navtitle").removeClass("title-nav-selected");

                var target = $("#" + id).attr("data-item");
                $("#" + target).addClass("nav-selected");
                $("#" + id).addClass("title-nav-selected");
                $("#" + target).show();

                $(".mO span").removeClass("selected");
                $(".mO").removeClass("selected");
                $("#" + selected_item).addClass("selected");
                $("#" + selected_item).parent().addClass("selected");
            }
        });

    </script>

    <style>
        .device_box_title {
            font-size: 11px;
            color: #226582;
            font-weight: 100;
        }

        .device_name {
            font-weight: 100;
            font-size: 15px;
            color: #555;
            padding-top: 2px;
        }

        .navtitle {
            overflow-x: hidden;
        }

        #connection_link_content a {
            padding-bottom: 1px !important;
            padding-top: 1px !important;
            padding-left:0px !important;
        }

        #connection_link_content_inner {
            max-height:400px;
            overflow-y: auto;
            overflow-x: visible !important;
        }

        #connection_link_content {
            padding-top:10px;
            box-shadow: 2px 2px 2px #888888;
            border:solid 1px whitesmoke;
        }
    </style>

    <script>
        $(function () {
            $("#connection_link").click(function () {
                $("#connection_link_content").toggle();
            });

            $("#connection_link_content").hide();
        });
    </script>
    {% for section in g.navigator.registered_structure %}
        <div data-item="{{ section.id }}-nav" id="{{ section.id }}" class="navtitle">
            <a class="navbar-category-link" href="{{ section.default_path }}">{{ section.name }}</a>
        </div>
        <div class="navcontent" id="{{ section.id }}-nav">
            {% for child in section.children %}
                <a class="mO" href="{{ child.path }}"><span id="{{ section.id }}-{{ child.id }}">{{ child.name }}</span></a>
            {% endfor %}
        </div>
    {% endfor %}
</div>
<div id="content">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="cool_alert">
                    {{ message | safe }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <script>
        $(".cool_alert").click(function () {
            $(this).hide();
        });

        window.setInterval(function () {
            $(".cool_alert").hide();
        }, 5000);
    </script>

    {% block content %}
    {% endblock %}
</div>
</body>
</html>
