{% for resource in g.resources.js_resources %}
    <script type="text/javascript" src="{{ url_for('static', filename=resource) }}"></script>
{% endfor %}

{% for resource in g.resources.css_resources %}
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename=resource) }}">
{% endfor %}

{% for resource in g.resources.css_linked_resources %}
    <link rel="stylesheet" href="{{ resource }}">
{% endfor %}
